<h1>All users</h1>

<%= will_paginate(@users) %>

<ul class="users">
	<%= render @users %> <!-- 功能同下 -->
	<%# @users.each do |user| %>
		<%#= render 'users', :user => user %> <!-- 同下 -->
		<%#= render user %>
	<%# end %>
</ul>

<%= will_paginate(@users) %>
<%#= will_paginate :previous_label=> '上一页', :next_label=> '下一页' %>