<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
	<%= render @users %> 
	<!-- 直接把 @users 变量传递给 render 方法, Rails 会把 @users 当作一系列的 User 对象，遍历这些对象，然后使用 _user.html.erb 渲染每个对象。 -->
	
  <%# @users.each do |user| %>
  	<%#= render user %> 
  	<!-- render 的参数不再是指定局部试图的字符串，而是代表 User 类的 user 变量。6Rails 会自定寻找一个名为 _user.html.erb 的局部试图 -->
  <%# end %>
</ul>
<%= will_paginate %>